body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
header img {
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image horizontally */
}

header {
    background-color: rgb(245, 50, 203);
    color: white; /* Text color for better visibility on dark background */
    padding: 20px; /* Add padding for spacing */
}

main {
    background-color: pink;
    padding: 20px; /* Add padding for spacing */
}




.image-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.image-container img {
    width: 200px; /* Adjust the width of each image */
    height: auto; /* Maintain the aspect ratio */
}